/* applies to the entire body */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 2.5px;
    margin: 5px;
    font-family: 'PT Sans', sans-serif;
}
/* Color scheme for the website */
:root {
    --Purple: rgb(37, 10, 90);
    --Blue: rgb(57, 100, 185);
    --Grey: rgb(201, 201, 201);
    --DarkGrey: rgb(128, 126, 126);
    --DayCast: rgb(51, 71, 90);
    --Search: rgb(90, 162, 233);
    --Favorable: rgb(10, 141, 10);
    --Moderate: rgb(238, 238, 9);
    --Severe: rgb(192, 7, 7);
}
/* sets font color and line height for the page */
body {
    color: black;
    line-height: 1.5;
    display: block;
}
/* positions header at the top of page and adds a gradient background */
header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-image: linear-gradient(to right, var(--Blue), var(--Purple));
    margin-top: 0;
}
/* sets styles for the text in header */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
}
/* Sets main display as flex and removes spacing around elements */
main {
    display: flex;
    margin-top: 0;
    padding-top: 0;
}
/* adds margin to left of section element */
section {
    margin-left: 20px;
}
/* adds styles to each h2 element */
h2 {
    font-size: 32px;
    font-weight: bolder;
}
/* styles the h3 elements */
h3 {
    font-size: 24px;
    margin-top: 20px;
}
/* adds styling to the form */
form {
    padding-bottom: 10px;
    border-bottom: solid grey;
    margin-bottom: 20px;
}
/* removes spacing around span element */
span {
    margin: 0;
    padding: 0;
}
/* styles the input box in form */
.textbox {
    width: 95%;
    height: 40px;
    padding: 0 10px;
    background-color: white;
    border-radius: 5px;
    border: solid grey;
    color: var(--DarkGrey);
    font-weight: bolder;
}
/* styles the search button in form */
.search {
    width: 95%;
    font-size: 16px;
    color: white;
    background-color: var(--Search);
    border: solid white;
    border-radius: 5px;
    padding: 5px 0;
}
/* adds hover effect to search button */
.search:hover{
    border: solid var(--Purple);
}
/* adds active effect to search button */
.search:active {
    background-color: var(--Purple);
}
/* adds styling to the saved cities under form */
.cities {
    background-color: var(--Grey);
    border-radius: 6px;
    text-align: center;
    margin-bottom: 10px;
    width: 95%;
    padding: 5px 0;
    border: solid white;
}
/* adds hover effect to cities */
.cities:hover {
    border: solid black;
}
/* adds active effect to cities */
.cities:active {
    background-color: var(--Purple);
    border: solid var(--Purple);
    color: white;
}
/* Adds style to results container */
.results {
    border: solid black;
    width: 1100px;
    margin-top: 25px;
}
/* styles the UV index */
.index{
    color: white;
    width: 75px;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
}
/* positions the elements in the five day forecast section */
.fiveCast {
    display: flex;
    justify-content: space-between;
}
/* styles each of the five day forecast containers */
.fiveDays {
    background-color: var(--DayCast);
    color:white;
    padding-right: 40px;
    padding-bottom: 25px;
}

.hide {
    display: none;
}

/* Media Queries */
/* Plan to add media queries in the future but styles above satisfy the requirements for the challenge assignment */
/* Attempted to duplicate the styling of the example provided */ 
/* For best view of the quiz open in screens of min-width: 1462 */